body {
    background-image: url(https://i.pinimg.com/originals/4f/1d/f9/4f1df9051fd727b6cc774c9665ff864a.gif);
    list-style-position: inside;
    background-position: center;
    background-size: 50%;
    margin: 20px;
}     


a {
    color: rebeccapurple;
    text-decoration: none;
  }

h1 {
    text-shadow: 10px 10px 10px blue;
    color: white;
    font-family:Georgia,'Times New Roman', Times, serif;  
}

h2 {
    text-shadow: 2px 2px 2px blue;
    border-radius: 30px;
    border: 10px;
    color: white;
    text-align: right;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    border-style:solid;
    border-radius: 25px;
    text-shadow: 2px 2px 2px blue;
    border-width: 3px;
    
}

p { 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

ul {
    color: white;
}

li {
    font-size:larger;
    color: rgb(91, 91, 238);
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.meu-nome {
	width: 80%;
    height: 120px;
    font-size:x-large;
    text-align: center;
}

.foto-perfil {		
	width: 15%;
	height: 50px;
	float: left; 
}

.dados {
    text-align: center;
    height: 150px;
    width: 80%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}

.OBJETIVO { 
	width: 50%;
	float: left; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

.FORMAÇÃO {
    width: 50%;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align:center;
    clear: both; 
}


.button {
    padding: 25px;
    margin: 20px;
    font-size: 25px;    
    text-align:right;	
    text-decoration: none;
    outline: none;
    color: rgb(124, 25, 216);
    background-color: black;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px rgb(48, 45, 45);
}

.button:hover {background-color: rgb(19, 19, 43)}

.button:active {
  background-color: rgb(83, 82, 82);
  box-shadow: 0 5px rgb(39, 38, 38);
  transform: translateY(4px);
}


   





   








.linha {
	clear: both; /* garante a posição abaixo da divs superiores (esquerda e direita),  */
}





