body {
    background-color: rgb(32, 88, 32);
    text-align: center;
    margin: 200px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

input {
    height: 35px;
    border: 2px solid;
    margin-right: 25px;
}

input#quantidade {
    margin: 3px;
    margin-right: 25px;
}


button {
    background-color: black;
    color: white;
    font-size: 20px;
    margin-right: 25px;
}

button:hover {
    background-color: gray;
    font-size: 25px;
}